---
name: Gradle Test

on:
    push:
    pull_request:
    workflow_dispatch:
jobs:
    test:
        name: Test
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

            - name: Cache Gradle packages
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                  restore-keys: |
                      ${{ runner.os }}-gradle-

            - name: Setup Java
              uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
              with:
                  distribution: "temurin"
                  java-version: 25

            - name: Build with Gradle
              run: |+
                  chmod +x gradlew
                  ./gradlew test

            - name: Archive Gradle Test Report
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
              if: always()
              with:
                  name: gradle-reports
                  path: |
                      **/build/reports/
                      **/build/test-results/
                  retention-days: 1
                  if-no-files-found: error
                  overwrite: false
                  include-hidden-files: true
